extends layout

block css
	link(rel='stylesheet', href='/stylesheets/error.css')

block scripts
	// override with nothing

block content
	h1 Error 404 - Not Found
	pre(class="error")= url
	#oops
	//img(alt='hot anime oops', src='/images/oops-yoko-themajor-500x645.png')
