extends layout

block content
	p Welcome to #{title}. This site is under costruction so please forgive the mess.
	p.
		Our company specializes in reasearching and developing high technology solutions
		for a number of different enterprises and verticles.