extends layout

block css
			link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(data-main='js/backbone-ui/main', src='js/backbone-ui/lib/require.js')

block header
	header			
block content
	//header
	div.container
		section.page-content
		hr
		footer
			p
				|	Adrian Arias - SoFlo Solutions - 2012