extends layout

block content
	p.error= error
	form(action='/login', method='POST')
		div
			label(for='email') email address
			input(type='text', name='email', id='email')
		div
			label(for='password') password
			input(type='password', name='password', id='password')
		div
			input(type='submit')
