extends layout

block content
	p. Our development capabilities are vast and we can develop custom solutions 
		to meet any implementation requirements. Solutions are used accross many
		verticles including:
		ul
			li
				a(href='#') Healthcare
			li
				a(href='#') Telecommunications
			li
				a(href='#') Education
			li
				a(href='#') Private Enterprise/Other
	div
		h2 Healthcare
		p. Healthcare is one of our primary specialities. We have experience building 
			all kinds of solutions for major providers, small practices,
			and insurance companies. Some of these projects include:
		ul
			li Insurance
				ul
					li claims processing for third-party administrators
					li crm platform to manage insured and a mobile insurance platform
			li Medical records
				ul
					li Unified clinical archives
					li PACS systems
					li Electronic Medical Records
					li Biometric Palm Vein Patient Identification
			li Community Outreach
				ul
					li AED registration, maintenance, geolocation, and dispatch
		iframe(height='400',width='350',id='mobipfscreen',seamless='seamless', src='/mobipf')
		
	div
		h2 Telecommunications
		ul
			li VOIP / voice and video conferencing
			li Realtime messaging
			li Signalling Gateways (SS7, Sigtran)
			li Video transcoding and delivery
			li private wireless network operator
	div
		h2 Education
		ul
			li Curriculum management tools
			li mobile education social platform
	div
		h2 Private/Other
		ul
			li Technical operation planning
			li Custom software development
			li data and security forensics
			li penetration testing