block content
	div#userlist
		| <% if(users.length > 0){ %>
		|	<ul>
		|		<% _.each(users, function(u){ %>
		|			<li>
		|				<a href='#!/users/<%= u._id %>'><%= u.first_name + ' ' + u.last_name %></a>
		|			</li>
		|		<% }); %>
		|	</ul>
		| <% } %>