div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			h1.logo
				a.brand(href="#!/home")
					| <span class="sunOrange"> SoFlo</span>
					| Solutions
			div.nav-collapse
				ul.nav
					li.divider-vertical
					li.home-menu
						a(href="#!/home") Home
					li.article-menu
						a(href="#!/articles") Articles
				ul.nav.pull-right
					li.new-menu
						a(href="#!/users/new") Sign Up
					li.divider-vertical
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") Sign In
							b.caret
						div.dropdown-menu(style="padding: 15px 15px 0px 15px;")
							form(action="/login", method="post", accept-charset="UTF-8")
								label Email Address
								input#email(style="margin-bottom=15px;", type="text", name="email", size="30")
								label Password
								input#password(style="margin-bottom=15px;", type="password", name="password", size="30")
								input#user_remember_me(stule="", type="checkbox", name="user[remember_me]", val="1")
								label.string.optional(for="user_remember_me") Remember me
								input#hloginbtn.btn.btn-primary(style="clear: left; width: 100%; height: 32px;font-size:13px;", type="submit", name="commit", value="Sign In")
					img.ajax-loader(src="images/ajax-loader.gif", alt="Loading...")
