div.container.editable
	div.row
		div.hero-unit
			h1.logo
				span.sunOrange.
					SoFlo
				| Solutions
			p World class engineering and development 
				for Enterprise and High-Tech applications.
			p
				a.btn.btn-primary.btn-large(href='#') Learn More
	div.row
		div.span6
			h2 About us
			p Welcome. This site is under costruction so please forgive the mess.
			p.
				Our company specializes in reasearching and developing high technology solutions
				for a number of different enterprises and verticles.
		div.span6
			h2 Services
			p.
				We offer top quality research and development services for companies of all sizes.
				We specialize in building information sytems that are tailord to the unique
				implemenation requirements of our customer. These include systems for Biometrics identification and authorization, 
				Electronic Medical Records, Unified Clinical Archives, Online Analytical Processing, and more.
